name: infra-ci

on:
  push:
    branches:
      - main
    paths:
      - "terraform/**"
      - ".github/workflows/infra-ci.yml"
  pull_request:
    paths:
      - "terraform/**"

jobs:
  terraform-fmt-validate:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform/environments/dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

